* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%; 
    border: 5px solid black;
}

header, nav, section, article, aside, footer {
    border: 5px solid black; 
    padding: 10px;
    color: white;
}

header, nav, footer {
    width: 100%;
}

header {
    background-color: darkblue;
    text-align: center;
    height: 10%; 
}

nav {
    background-color: cyan;
    height: 7%; 
}

footer {
    background-color: blue;
    text-align: center;
    height: 10%; 
    border: 5px solid black;
}

.content {
    display: flex;
    flex-grow: 1;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 75%; 
}

section, article {
    width: 100%;
    flex-grow: 1; 
}

section {
    background-color: gold;
}

article {
    background-color: salmon;
}

aside {
    background-color: white;
    color: black;
    width: 25%; 
    height: calc(130% - 17% - 10%); 
    border: 5px solid black;
}
